
body{
    background-color: black;
}


.Container{
    justify-content: center;
    
    background-color:gray;
    width: 500px;
    height: 500px;
    margin:120px auto;
    box-shadow:10px 10px 5px red;
    border-radius: 6px;
}

.container_pro{
    margin-top: 30px;
}


.profile{
    width: 100px;
    height:100px;
    border-radius: 100px;
    justify-content: center;
    display: flex;
}

.container_profile{
    display: flex;
    justify-content: center;
}

.container_text{
    justify-items: center;
}

.span_text{
    color:yellow;
}

.p_text{
    color: white;
}


.container_form{
    justify-items: center;
    
}

/* 
.form_container{
    background-color: aqua;
    padding-right: 10px;
    margin: 10px;
    width: 200px;
} */

.button{
    /* background-color: red; */
    text-decoration: none;
    -webkit-text-fill-color:white;
    grid-row: 10px;
    height: 50px;
    width: 50px;
    margin: 50px;

    
 
}


.form_container{
    margin-top: 30px;
}
